@mixin hidden_text($width,$height,$bg_url){
	width: $width;
	height: $height;
	text-indent: 101%;
  	overflow: hidden;
 	white-space: nowrap;
 	background-image:$bg_url;
 	background-repeat: no-repeat; 
}

@mixin border_radius_content($size){
	width:$size ;
	height: $size;
	font-size:$size/4 ;
	padding-top:$size/2.8;
	text-align: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
}

//@media
@mixin iPad{
	@media (max-width: 768px) {
		@content
	}
}
@mixin iPhone_Plus{
	@media (max-width: 414px) {
		@content
	}
}

@mixin iPhone5{
	@media (max-width: 320px) {
		@content		
	}
}