.txt{
  column-count: 2;
  column-gap: 30px;
  line-height: 1.8;
  &::first-letter{
    font-size: 40px;
    float: left;
    line-height: 1.2;
    padding-right: 10px;
  }
  &::before{
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    border: 35px solid gold;
    top: 15%;
    left: 25%;
    z-index: -1;
    transform: rotate(30deg);
  }
  &::after{
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    border: 35px solid goldenrod;
    top: 20%;
    left: 25%;
    z-index: -1;
    transform: rotate(40deg);
  }
}
.txt_2{
  &::before{
    position: absolute;
    content: "";
    width: 290px;
    height: 290px;
    border: 35px solid gold;
    top: 25%;
    left: 25%;
    z-index: -1;
    transform: rotate(50deg);
  }
  &::after{
    position: absolute;
    content: "";
    width: 290px;
    height: 290px;
    border: 35px solid goldenrod;
    top: 30%;
    left: 25%;
    z-index: -1;
    transform: rotate(60deg);
  }
}
.title{
  font-size: 40px;
  color: #aaa;
  transform: rotate(90deg) ;
  position: relative;
  top: 20%;
  transform-origin:left  ;
}