//size
$font-size: 16px;

//font-family
$font-family:'Noto Sans TC',sans-serif;
// $p_font-family:"Microsoft JhengHei";

//color
$body_color:gold   ;
$body_bg-color:black;
$body_bg-image: linear-gradient(to bottom, #eb9e58, #fd927d, #fa90a5, #e597c7, #c4a3dc, #afaee3, #9fb6e3, #98bddd, #a0c5d9, #aeccd6, #bed1d5, #cfd6d6);
