//size
$font-size: 16px;

//font-family
$font-family:'Noto Sans TC',sans-serif;
// $p_font-family:"Microsoft JhengHei";

//color
$body_color:black;
$body_bg_color:white;
$body_bg_image:linear-gradient(-30deg,#fdaecb,#e7597f,#fe8556);


