.section-title{
  text-align: center;
  margin: 30px 0;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    background-color: #AAA;
    top: 50%;
    left:  65%;
  }
  &::after{
    position: absolute;
    content: "";
    width: 20%;
    height: 2px;
    background-color: #AAA;
    top: 50%;
    right: 65%;
  }

}
.navbar{
  justify-content: space-around;
  align-items: center;
  a{
    text-decoration: none;
    color: goldenrod;
  }
}
.banner{
  min-height: 450px;
  padding:0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  background-image: 
  linear-gradient(-120deg, #355c7d, #6c5b7b, transparent 80%),
  url("https://picsum.photos/1200/600?random=11");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition:background-position 0.3s;
  &:hover{
    // transition 未支援 linear-gradient 
    background-position:900px, center bottom;
    font-size: 0;
  }
  .text-grounp{
    color: rgba(255, 217, 0, 0.685);
    + .text-grounp{
      margin-top: 10px;
      border-top: 1px solid gold;
    }
  }
}

.studio{
  margin-top: 100px;
  .text-grounp{
    position: relative;
    padding:50px 20px;
    border:5px solid #c06c84;
    margin-right: 20px;
    .fa{
      position: absolute;
      color: goldenrod;
      top: -30px;
      left:43%;
      z-index: 999;
    }
    @keyframes fa{
      0%{ transform: rotate(-20deg); }
      100%{ transform: rotate(20deg); }
    }
    @keyframes gavel{
      0%{ transform: rotate(-20deg); }
      100%{ transform: rotate(35deg); }
    }
    h3{
      text-align: center;
    }
    &::before{
      position: absolute;
      content: "";
      width: 100px;
      height: 100px;
      background-color: #EEE;
      border-radius: 50%;
      border-top:5px solid #c06c84;
      border-left:5px solid #c06c84;
      border-right:5px solid transparent;
      border-bottom:5px solid transparent;
      transform: rotate(45deg);
      top: -55px;
      left:32%;
      z-index: 99;
    }
    &:hover{
      .fa{
        animation: fa .3s linear infinite alternate;
      }
    }
  }
}

.studio__member{
  border:1px solid #355c7d;
  margin-right: 20px;
  transition: 0.5s;
  .text-grounp{
    padding: 20px ;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      border-left: 149px solid #EEE;
      border-right: 149px solid #EEE;
      border-top: 75px solid transparent;
      z-index: 99;
      transform: translateY(-106%);
    }
    h3{
      text-align: center;
      position: relative;
      margin-bottom: 10px;
      &::after{
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        bottom:-5px;
        left: 50%;
        right: 50%;
        border-bottom: 2px solid #EEE;
        transition: 0.5s;
      }
    }
  }
  &:hover{
    transform: translateY(-20px);
    background-image: linear-gradient(to bottom, #355c7d, #6c5b7b, #c06c84);
    color: gold;
    .text-grounp{
      &::before{
        border-left: 149px solid #6c5b7b;
        border-right: 149px solid #6c5b7b;
      }
    }
    h3{
      &::after{
        width: 100%;
        left: 0;
        right: 0;
      }
    }
  }
}
.studio__footer{
  li{
    width: 240px;
    margin-right: 20px;
    color: 24px;
    h3{
      font-size: 28px;
      color: #EEE;
      border-bottom: 2px solid rgb(179, 153, 9);
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
    a{
      display: block;
      text-decoration: none;
      color: gold;
      .fas{
        margin-right: 5px;
        transform: scale(-1);
      }
    }
    .serch{
      margin-top: 35px;
    }

  }
}